@charset "utf-8";
/* CSS Document */

.mainpanel_noLeft{margin-left:0px;}
.mainpanel_noLeft .headerbar .logopanel {
    width: auto;
    background:#164487;
    
}
.logopanel{
	 background:#164487;
	}
	
.logopanel2{	
	width:240px; 
	height:50px; 
	background: #164487;
	float:left;
	padding-top:6px;
}
/*头部样式*/
.headerbar{height:50px;}
.headermenu > li {border-left: 0px;}
.headermenu button.dropdown-toggle{line-height:25px}
.headermenu .dropdown-menu-usermenu{min-width:100px}
.headermenu .dropdown-menu.pull-right {
    left: auto;
    right: auto;
}

dropdown-menu-comm{ min-width:10px}


.pageTop li {font-size: 14px;}
.pageTop li a {font-size: 14px;}
.pageTop li span.num { color:#F00;}
.subtitle {font-size: 16px;margin-bottom: 10px;margin-top: 0; line-height: 30px;}
.subtitle .gridBtnGroup { float:right;}
.subtitle .gridBtnGroup .form-group {margin-right:0; margin-left:5px}

/*.alert_password .modal-content{width:400px;}
.alert_password .modal-body{height:300px;}*/

/* 表单样式*/
#moreSearch{margin-right:10px}
#moreSearch .glyphicon{ padding:0 0 0 7px}
.pageheader .glyphicon{ 
	border : 0px;
    font-size: 13px;
    margin-right: 0px;
}
.pageheader .btn-group{margin-bottom:0px}
.pageheader .ckbox label, .pageheader .rdio label {
    margin-bottom: 0px !important;
}
.modal-body .row{margin-bottom:10px;}
.modal-body .form-inline .form-group{vertical-align:auto;}
.modal-body .form-group .form-control {
    padding: 5px;
    
}

#menuNavUi li{ width:100px; 
	float:left; 
	height:30px;
	margin-top:8px;
	}
#headermenuRight li{
	width:100px; 
  margin-top:8px;
  margin-bottom:1px;
  height:25px;
	
	}
	
	#page_li_navigation li{
		border:0px #eee solid;
		padding-left:0px;
		padding-top:5px;
	}
	
/*#invest_money label{
	width:80px;
	margin-left:90px;
} 

#invest_money .form-group{
	margin-left:10px;
	padding-top:5px;
}
 */
button.btn{
   padding:6px 15px 6px 15px;	
   
}

select.form-control{
   padding:6px 15px 6px 15px;	
   height:31px;
}

label{
   text-align:right;	
  
}
label.chk{
   text-align:left;	
}

.fixedHead { 
		position: relative; 
		top:expression(this.offsetParent.scrollTop-2); 
} 


.panel-body .form-control {
    padding: 6px 13px 6px 0px;
    
}
.panel .panel-body .form-group{
	   height:43px;
	}
.panel-default{
	
   padding-bottom:0px;	
   margin-bottom:0px;
   padding-top:0px;
}

.tabToggleBtn{margin:auto}
.toggle_ism_info{display:inline-block; margin-top:8px}
.form-inline .rdio{margin-top:4px;}
.diyNum , .xzPrice , .xzNum , .muchSel , .oneSel {display:none}
.lineNull{display:block; height:10px}
.glyphicon-star.icon-noSave{color:#CCC}
.glyphicon-star.icon-save{color:#428bca}
.comm_red{color:#F00; display:inline-block; margin-right:30px}
.button_hide{display:none}
a.link_icon{font-size:17px;}
a.link_icon:hover{text-decoration:none}
tr.tab_tr_total td{background: #fff none repeat scroll 0 0;   font-weight: bold; display:none}
tr.tab_tr_total_nav td{background: #fff none repeat scroll 0 0;   font-weight: bold;}
.filemanager-options li a{color:#428bca !important}
.filemanager-options li a:hover{text-decoration:none;}
.inlineInput{display:none; width:100px;}
a.save_inlineLink{display:none}

 .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 90%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
  
  /*弹出窗口*/
  .modal-dialog {
    width: 450px;
    margin: 8% auto auto;
  }
  
   /*弹出窗口*/
  .modal-mg {
    width: 600px;
    margin: 8% auto auto;
  }
  
  
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
 
  .modal-lg {
    width: 900px;
  }
  .modal-dialog.addPolicy {
    margin: 2% auto auto;
  }
  
  /*单选多选IE8样式*/
.ckbox label:before , .rdio label:before {
    border: 0px\9;
	background: none\9;
}
/*翻页样式*/
.tabFooterDom{text-align:center}
.tabFooterDom .dataTables_paginate {
    display: inline-block;
    float: none;
    margin: 0 auto;
    margin-right: 10px;
    text-align: center;
}
.tabFooterDom .dataTables_info {
    display: inline-block;
    float: none;
    height: 30px;
    line-height: 24px;
    overflow: hidden;
}
.width60{width:60px;}
.width70{width:70px;}
.width80{width:80px;}
.width90{width:90px;}
.width100{width:100px;}
.width110{width:110px;}
.width900{width:900px;};
.width1000{width:1000px;};
.width1100{width:1100px;};

li.hover-red:hover{color:blue;}
.bk{
	background-color:#eee; 
	width:100px; height:35px;  
	float:left; 
	text-align:center;
	line-height:35px;
	}
.tab_bk{
		width:450px;height:300px;overflow:auto; margin-top:3px margin-left:67px; padding-left:20px;padding-top:10px;
}
#navigation_left a
{margin-left:8px;color:#333; cover:#428bca;font-size:13px;} /*#428bca */
#navigation_left a.navigation:hover{color:#428bca;}
#navigation_left a:hover{color:#428bca;text-decoration:none;}
#navigation_left .div_line{
	width:1px; border:1px #428bca solid; height:50px; margin-left:4px;
}
input {
	    padding-left:4px;
	}

.total_info .title_{
   text-align:center;margin:15px 0px 15px 0px;font-size:14px; color:#666;
}
.total_info .detail_info{
  font-size:12px; width:80px; content-align:right;	
}

.total_info{
	float:left;width:270px;border-right:1px solid #eee;text-align:left
}

.total_info_3{
	float:left;width:280px;border-right:0px solid #eee;text-align:left
}
.total_info_3 .detail_info{
  font-size:12px; width:106px; content-align:right;	
}

.total_info .detail_data{
	color:#c80000;font-size:16px;padding-left:10px;text-align:left;	width:120px;
}

.total_info_3 .detail_data{
	color:#c80000;font-size:16px;padding-left:10px;text-align:left;	width:100px;
}
.title_data{
padding-left:0px; color:#c80000;font-size:28px;	
}

.c_red{
	 color:#c80000;
	}
	
.c_blue{
	  color:blue;
	}






