<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--<link rel="stylesheet" href="../../../statics/css/font-awesome.css" th:href="@{/css/font-awesome.css}" type="text/css">-->
    <link rel='stylesheet' href="../../../statics/css_jquery_mobile/iconfont2.css" th:href="@{/css_jquery_mobile/iconfont2.css}" type='text/css'></link>
    <link rel='stylesheet' href="../../../statics/css_jquery_mobile/addMenu.css" th:href="@{/css_jquery_mobile/addMenu2.css}" type='text/css'></link>
    <link rel='stylesheet' href="../../../statics/css_jquery_mobile/style.css" th:href="@{/css_jquery_mobile/style.css}" type='text/css'></link>
    <link rel='stylesheet' href="../../../statics/css_jquery_mobile/swiper.min.css" th:href="@{/css_jquery_mobile/swiper.min.css}" type='text/css'></link>

    <title>奇迹课程</title>
</head>
<body>


<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img th:src="@{/images_mobile/1.jpg}"></div>
        <div class="swiper-slide"><img th:src="@{/images_mobile/2.jpg}"></div>
        <div class="swiper-slide"><img th:src="@{/images_mobile/3.jpg}"></div>
        <div class="swiper-slide"><img th:src="@{/images_mobile/4.jpg}"></div>
        <div class="swiper-slide"><img th:src="@{/images_mobile/5.jpg}"></div>
        <div class="swiper-slide"><img th:src="@{/images_mobile/6.jpg}"></div>
        <div class="swiper-slide"><img th:src="@{/images_mobile/7.png}"></div>
        <div class="swiper-slide"><img th:src="@{/images_mobile/8.jpg}"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <!--<div class="swiper-button-next"></div>-->
    <!--<div class="swiper-button-prev"></div>-->
</div>

<div class="searchBar"></div>

<div  class="main_context_iphone"></div>

<div class="footer"></div>


<script type="text/javascript" src="../../../statics/js/jquery-mobile/jquery.mobile-1.4.5.js" th:src="@{/js/jquery-mobile/jquery.mobile-1.4.5.js}"></script>
<script type="text/javascript" src="../../../statics/js/jquery/jquery-1.11.1.min.js" th:src="@{/js/jquery/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" src="../../../statics/js/js_pub/swiper.min.js" th:src="@{/js/js_pub/swiper.min.js}"></script>

<script type="text/javascript" src="../../../statics/js/js_pub/wz_util.js" th:src="@{/js/js_pub/wz_util.js}"></script>
<script type="text/javascript" src='../../../statics/js/js_view/acim/bookIpone.js' th:src="@{/js/js_view/acim/bookIpone.js}" ></script>

<script type="text/javascript" src='../../../statics/js/js_view/framework/main_iphone.js' th:src="@{/js/js_view/framework/main_iphone.js}" > </script>






</body>
</html>