<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/zipeiyi_icon.ico">

  <title>奇迹课程</title>
  
  <!--  
 <link href="../css/examples.css" rel="stylesheet" type="text/css">
  <link href="../css/jquery.datatables.css" rel="stylesheet">
  <link href="../css/style.default.css" rel="stylesheet">

 
  <link href="../css/customer.css" rel="stylesheet">
  <link href="../css/jquery.gritter.css" rel="stylesheet">
  <link href="../css/morris.css" rel="stylesheet">
-->



</head>
<body  class="login_page" >


<link class="signin">

<section class="">
  
    <div class="signinpanel">
        
        <div class="row">
            
            <div class="col-md-7">
                
                <div class="signin-info">
                    <div class="logopanel">
                        <h1 style="color: #FFFFFF;"><span>[</span> 奇迹课程自修系统 <span>]</span></h1>
                    </div><!-- logopanel -->
                
                    <div class="mb20"></div>
                
                    <h5><strong>欢迎使用仙子-奇迹课程自修课程</strong></h5>

                </div><!-- signin0-info -->
            
            </div><!-- col-sm-7 -->
            
            <div class="col-md-5">
                
                <form method="post" action="/userLoginGo">
                    <h4 class="nomargin">登录</h4>
                
                    <input type="text" class="form-control uname" id = "name" value='wzx' name="name"placeholder="用户名" />
                    <input type="password" class="form-control pword" id="password" name="password" placeholder="密码" />
                    <a class="btn btn-success btn-block"  style="color:#FFF" id="login" >登 录</a>
                    <div class="login">
                    <label class="login_fogetPassword"> 忘记密码登录 </label>
                    <label class="login_register"> 免费注册</label>
                    </div>
                    
                </form>
            </div><!-- col-sm-5 -->
            
        </div><!-- row -->
        
        <div class="signup-footer">
            <div class="pull-left">
                ©2014-2015 Zipeiyi.com All Rights Reserved 版权所有丨京ICP备14048624号
            </div>
        </div>
        
    </div><!-- signin -->
    
    
      <div class="modal  alert_password" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="alert_password">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="form1">
                    <div class="panel">
                      
                      <div class="panel-body">
                      
                        <div class="form-group">
                          <label class="col-sm-3 control-label"><span class="asterisk">*</span>新密码：</label>
                          <div class="col-sm-9">
                            <input type="password" class="form-control" name="">
                          </div>
                        </div>
                        
                        <div class="form-group">
                          <label class="col-sm-3 control-label"><span class="asterisk">*</span>确认密码：</label>
                          <div class="col-sm-9">
                            <input type="password" class="form-control" name="">
                          </div>
                        </div>
                        
                        

                      </div><!-- panel-body -->
                      <div class="text-center">
                        <button class="btn btn-default" type="button" data-dismiss="modal">返回</button>
                        <button class="btn btn-primary" type="button" data-dismiss="modal" id="btn_save">保存</button>
                      </div><!-- panel-footer -->
                    </div><!-- panel-default -->
                  </form>
            </div>
        </div>
      </div>
    </div>
  
</section>


    <link rel='stylesheet' href="../../../statics/css/style.default.css" th:href="@{/css/style.default.css}" type='text/css'></link>
    <link rel='stylesheet' href="../../statics/css/css/jquery-ui-1.10.3" th:href="@{/css/jquery-ui-1.10.3}" type='text/css'></link>
    <link rel='stylesheet' href="../../../statics/css/jquery.gritter.css" th:href="@{/css/jquery.gritter.css}" type='text/css'></link>
    <link rel='stylesheet' href="../../../statics/js/ymPrompt/skin/qq/ymPrompt.css" th:href="@{/js/ymPrompt/skin/qq/ymPrompt.css}" type='text/css'></link>
    <link rel='stylesheet' href="../../../statics/css_wz/miracles.css" th:href="@{/css_wz/miracles.css}" type='text/css'></link>


    <script type="text/javascript" src="../../../statics/js/jquery/jquery-1.11.1.min.js" th:src="@{/js/jquery/jquery-1.11.1.min.js}" > </script>
    <script type="text/javascript" src='../../../statics/js/jquery/jquery-ui-1.10.3.min.js' th:src="@{/js/jquery/jquery-ui-1.10.3.min.js}" > </script>
    <script type="text/javascript" src='../../../statics/js/jquery/bootstrap.min.js' th:src="@{/js/jquery/bootstrap.min.js}" > </script>
    <script type="text/javascript" src='../../../statics/js/jquery/jquery.datatables.min.js' th:src="@{/js/jquery/jquery.datatables.min.js}" > </script>
    <script type="text/javascript" src='../../../statics/js/jquery/jquery.gritter.min.js' th:src="@{/js/jquery/jquery.gritter.min.js}" > </script>
    <script type="text/javascript"  src='../../statics/js/pub_js/wz_util.js' th:src="@{/js/js_pub/wz_util.js}" > </script>
    <script type="text/javascript" src='../../../statics/js/ymPrompt/ymPrompt.js' th:src="@{/js/ymPrompt/ymPrompt.js}" > </script>


<!--
<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/modernizr.min.js"></script>
<script src="../js/jquery.sparkline.min.js"></script>
<script src="../js/toggles.min.js"></script>
<script src="../js/retina.min.js"></script>
<script src="../js/jquery.cookies.js"></script>
-->
   <script type="text/javascript" src='../../../statics/js/js_view/framework/login.js' th:src="@{/js/js_view/framework/login.js}" ></script>

</body>
</html>
