
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- <link rel="shortcut icon" href="../images/favicon.png" type="image/png"> -->
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/leftnav.css" media="screen"
	type="text/css" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body style='background: #e4e7ea;'>

	<div class="miracle-context-catalog" id="catalog">
		<div class='account-l fl'>
			<a class="list-title">正文目录</a>
			<ul id="accordion" class="accordion">
				<li><div class="link" id="99">
						序 言 [1.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="9901"><a>本书的缘起 [1.0]</a></li>
						<li id="9902"><a>本书的性质 [2.0]</a></li>
						<li id="9903"><a>本书的内容 [4.0]</a></li>
					</ul></li>
				<li><div class="link" id="00">
						导言 [7.0]<i class="fa fa-chevron-down"></i>
					</div></li>
				<li><div class="link" id="01">
						第一章 奇迹的真谛 [8.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="0101"><a>第一节 奇迹凡例 [8.0]</a></li>
						<li id="0102"><a>第二节 启示，时间与奇迹 [12.0]</a></li>
						<li id="0103"><a>第三节 救赎与奇迹 [14.0]</a></li>
						<li id="0104"><a>第四节 挣脱黑暗的势力 [16.0]</a></li>
						<li id="0105"><a>第五节 圆满与灵性 [17.0]</a></li>
						<li id="0106"><a>第六节 需要的幻觉 [19.0]</a></li>
						<li id="0107"><a>第七节 对奇迹本能的曲解 [21.0]</a></li>
					</ul></li>
				<li><div class="link" id="02">
						第二章 分裂与救赎 [23.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="0201"><a>第一节 分裂之始 [23.0]</a></li>
						<li id="0202"><a>第二节 救赎即防护 [25.0]</a></li>
						<li id="0203"><a>第三节 上主的祭坛 [27.0]</a></li>
						<li id="0204"><a>第四节 救治即摆脱恐惧 [29.0]</a></li>
						<li><div id="0205" class="link">
								第五节 施展奇迹者的任务 [31.0] <i class="fa fa-chevron-down"></i>
							</div>
							<ul class="submenu">
								<li id="020501"><a>奇迹志工的专用手册 [33.0]</a></li>
							</ul></li>
						<li id="0206"><a>第六节 恐惧与冲突 [34.0]</a></li>
						<li id="0207"><a>第七节 因果关系 [37.0]</a></li>
						<li id="0208"><a>第八节 最后审判的意义 [39.0]</a></li>
					</ul></li>
				<li><div class="link" id="03">
						第三章 纯洁无罪的知见 [41.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="0301"><a>第一节 救赎无需牺牲 [41.0]</a></li>
						<li id="0302"><a>第二节 奇迹即是正知正见 [43.0]</a></li>
						<li id="0303"><a>第三节 知见与真知 [45.0]</a></li>
						<li id="0304"><a>第四节 错误与小我 [47.0]</a></li>
						<li id="0305"><a>第五节 超越知见 [49.0]</a></li>
						<li id="0306"><a>第六节 审判和主权的问题 [51.0]</a></li>
						<li id="0307"><a>第七节 创造与自我形相 [54.0]</a></li>
					</ul></li>
				<li><div class="link" id="04">
						第四章 小我的幻相 [56.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="0400"><a>第0节 导言 [56.0]</a></li>
						<li id="0401"><a>第一节 正授与正学 [57.0]</a></li>
						<li id="0402"><a>第二节 小我与错误的自主权 [60.0]</a></li>
						<li id="0403"><a>第三节 没有冲突的爱 [63.0]</a></li>
						<li id="0404"><a>第四节 无须如此 [65.0]</a></li>
						<li id="0405"><a>第五节 「小我即身体」的幻觉 [68.0]</a></li>
						<li id="0406"><a>第六节 上主的赏报 [70.0]</a></li>
						<li id="0407"><a>第七节 创造与交流 [72.0]</a></li>
					</ul></li>
				<li><div class="link" id="05">
						第五章 疗愈与圆满 [74.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="0500"><a>第0节 导言 [74.0]</a></li>
						<li id="0501"><a>第一节 邀请圣灵 [75.0]</a></li>
						<li id="0502"><a>第二节 上主的天音 [77.0]</a></li>
						<li id="0503"><a>第三节 救恩的向导 [80.0]</a></li>
						<li id="0504"><a>第四节 教导与疗愈 [83.0]</a></li>
						<li id="0505"><a>第五节 小我利用罪咎的伎俩 [85.0]</a></li>
						<li id="0506"><a>第六节 时间与永恒 [88.0]</a></li>
						<li id="0507"><a>第七节 选择上主 [90.0]</a></li>
					</ul></li>
				<li><div class="link" id="06">
						第六章 爱的课题 [92.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="0600"><a>第0节 导言 [92.0]</a></li>
						<li id="0601"><a>第一节 十字架的信息 [93.0]</a></li>
						<li id="0602"><a>第二节 投射之外的选择 [97.0]</a></li>
						<li id="0603"><a>第三节 放下攻击 [100.0]</a></li>
						<li id="0604"><a>第四节 唯一的答案 [101.0]</a></li>
						<li id="060501"><a>（一） 若要拥有，普施众生 [105.0]</a></li>
						<li id="060502"><a>（二） 若要平安，教人平安，从而学到平安 [106.0]</a></li>
						<li id="060503"><a>（三） 只为上主及其天国而警醒 [108.0]</a></li>
					</ul></li>
				<li><div class="link" id="0700">
						第七章 天国的礼物 [111.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="0701"><a>第一节 最后的一步 [111.0]</a></li>
						<li id="0702"><a>第二节 天国之律 [113.0]</a></li>
						<li id="0703"><a>第三节 天国的真相 [115.0]</a></li>
						<li id="0704"><a>第四节 疗愈即是认清真相 [117.0]</a></li>
						<li id="0705"><a>第五节 疗愈与心灵的千古不易性 [119.0]</a></li>
						<li id="0706"><a>第六节 由警醒到平安 [122.0]</a></li>
						<li id="0707"><a>第七节 天国的整体性 [125.0]</a></li>
						<li id="0708"><a>第八节 不足置信的信念 [128.0]</a></li>
						<li id="0709"><a>第九节 天国的推恩 [130.0]</a></li>
						<li id="0710"><a>第十节 苦乐不分 [132.0]</a></li>
						<li id="0711"><a>第十一节 恩典之境 [134.0]</a></li>
					</ul></li>
				<li><div class="link" id="08">
						第八章 回归之路 [136.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="0800"><a>第一节 课程的方向 [136.0]</a></li>
						<li id="0801"><a>第二节 禁锢与自由之别 [138.0]</a></li>
						<li id="0802"><a>第三节 神圣的会晤 [140.0]</a></li>
						<li id="0803"><a>第四节 自由之礼 [142.0]</a></li>
						<li id="0804"><a>第五节 圣子奥体一体无间的愿力 [145.0]</a></li>
						<li id="0805"><a>第六节 上主之宝 [147.0]</a></li>
						<li id="0806"><a>第七节 身体是交流的工具 [150.0]</a></li>
						<li id="0807"><a>第八节 身体是手段或是目的 [154.0]</a></li>
						<li id="0809"><a>第九节 疗愈即是修正的知见 [157.0]</a></li>
					</ul></li>
				<li><div class="link" id="09">
						第九章 接受救赎 [159.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="0901"><a>第一节 接受真相 [159.0]</a></li>
						<li id="0902"><a>第二节 祈祷的答复 [162.0]</a></li>
						<li id="0903"><a>第三节 修正错误 [165.0]</a></li>
						<li id="0904"><a>第四节 圣灵的宽恕计划 [167.0]</a></li>
						<li id="0905"><a>第五节 尚未疗愈的治疗师 [170.0]</a></li>
						<li id="0906"><a>第六节 接受你的弟兄 [173.0]</a></li>
						<li id="0907"><a>第七节 两种评价 [175.0]</a></li>
						<li id="0908"><a>第八节 庄严伟大与虚夸自大之别 [177.0]</a></li>
					</ul></li>
				<li><div class="link" id="10">
						第十章 疾病的偶像 [180.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="1000"><a>第0节 导言 [180.0]</a></li>
						<li id="1001"><a>第一节 安居上主的家园 [181.0]</a></li>
						<li id="1002"><a>第二节 遗忘的决心 [182.0]</a></li>
						<li id="1003"><a>第三节 疾病之神 [184.0]</a></li>
						<li id="1004"><a>第四节 疾病的终结 [187.0]</a></li>
						<li id="1005"><a>第五节 否认上主 [189.0]</a></li>
					</ul></li>
				<li><div class="link" id="11">
						第十一章 上主或小我 [192.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="1100"><a>第0节 导言 [192.0]</a></li>
						<li id="1101"><a>第一节 “为父身分”之赠礼 [193.0]</a></li>
						<li id="1102"><a>第二节 迎请疗愈 [196.0]</a></li>
						<li id="1103"><a>第三节 从黑暗到光明 [198.0]</a></li>
						<li id="1104"><a>第四节 上主之子的天赋产业 [200.0]</a></li>
						<li id="1105"><a>第五节 小我的“运作模式” [202.0]</a></li>
						<li id="1105"><a>第六节 觉于救恩 [206.0]</a></li>
						<li id="1107"><a>第七节 实相之境 [209.0]</a></li>
						<li id="1108"><a>第八节 问题与答复 [210.0]</a></li>
					</ul></li>
				<li><div class="link" id="12">
						第十二章 圣灵的课程 [213.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="1201"><a>第一节 圣灵的判断 [213.0]</a></li>
						<li id="1202"><a>第二节 忆起上主之道 [216.0]</a></li>
						<li id="1203"><a>第三节 投资于真相 [218.0]</a></li>
						<li id="1204"><a>第四节 寻求及寻获 [221.0]</a></li>
						<li id="1205"><a>第五节 健全的课程 [223.0]</a></li>
						<li id="1205"><a>第六节 基督的慧见 [225.0]</a></li>
						<li id="1206"><a>第七节 往内看去 [227.0]</a></li>
						<li id="1207"><a>第八节 爱对爱的吸引 [231.0]</a></li>
					</ul></li>
				<li><div class="link" id="13">
						第十三章 清白无罪的世界 [233.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="1300"><a>第0节 导言 [233.0]</a></li>
						<li id="1301"><a>第一节 清白无罪与百害不侵 [234.0]</a></li>
						<li id="1302"><a>第二节 上主之子的清白无罪 [237.0]</a></li>
						<li id="1303"><a>第三节 对救赎的恐惧 [239.0]</a></li>
						<li id="1304"><a>第四节 时间的功能 [242.0]</a></li>
						<li id="1305"><a>第五节 两种情感 [244.0]</a></li>
						<li id="1306"><a>第六节 寻找当下 [247.0]</a></li>
						<li id="1307"><a>第七节 真实世界的境界 [250.0]</a></li>
						<li id="1308"><a>第八节 由知见到真知 [254.0]</a></li>
						<li id="1309"><a>第九节 罪咎之云 [256.0]</a></li>
						<li id="1310"><a>第十节 由罪咎中解脱 [258.0]</a></li>
						<li id="1311"><a>第十一节 天堂的平安 [261.0]</a></li>
					</ul></li>
				<li><div class="link" id="14">
						第十四章 真理的教诲 [264.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="1400"><a>第0节 导言 [264.0]</a></li>
						<li id="1401"><a>第一节 学习的条件 [265.0]</a></li>
						<li id="1402"><a>第二节 快乐的学徒 [267.0]</a></li>
						<li id="1403"><a>第三节 决心无罪 [269.0]</a></li>
						<li id="1404"><a>第四节 你的救赎任务 [273.0]</a></li>
						<li id="1405"><a>第五节 救赎之圆 [276.0]</a></li>
						<li id="1406"><a>第六节 交流之光 [279.0]</a></li>
						<li id="1407"><a>第七节 分享圣灵的知见 [281.0]</a></li>
						<li id="1408"><a>第八节 神圣的交会点 [283.0]</a></li>
						<li id="1409"><a>第九节 神圣本体的倒影 [285.0]</a></li>
						<li id="1410"><a>第十节 奇迹的平等性 [287.0]</a></li>
						<li id="1411"><a>第十一节 真理的考验 [290.0]</a></li>
					</ul></li>
				<li><div class="link" id="15">
						第十五章 神圣的一刻 [294.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="1501"><a>第一节 时间的两种用法 [294.0]</a></li>
						<li id="1502"><a>第二节 终结疑惑 [298.0]</a></li>
						<li id="1503"><a>第三节 卑微与伟大 [300.0]</a></li>
						<li id="1504"><a>第四节 操练神圣的一刻 [303.0]</a></li>
						<li id="1505"><a>第五节 神圣的一刻与特殊关系 [305.0]</a></li>
						<li id="1506"><a>第六节 神圣的一刻与上主的天律 [308.0]</a></li>
						<li id="1507"><a>第七节 不必要的牺牲 [310.0]</a></li>
						<li id="1508"><a>第八节 唯一的真实关系 [313.0]</a></li>
						<li id="1509"><a>第九节 神圣一刻与上主的吸引力 [315.0]</a></li>
						<li id="1510"><a>第十节 重生之刻 [317.0]</a></li>
						<li id="1511"><a>第十一节 结束牺牲的圣诞节 [319.0]</a></li>
					</ul></li>
				<li><div class="link" id="16">
						第十六章 宽恕的幻相 [322.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="1601"><a>第一节 真正的感通 [322.0]</a></li>
						<li id="1602"><a>第二节 神圣性的力量 [324.0]</a></li>
						<li id="1603"><a>第三节 教诲的回报 [326.0]</a></li>
						<li id="1604"><a>第四节 爱的幻相与真相 [328.0]</a></li>
						<li id="1605"><a>第五节 选择圆满之境 [331.0]</a></li>
						<li id="1607"><a>第六节 通往真实世界的桥梁 [334.0]</a></li>
						<li id="1608"><a>第七节 幻相的终结 [337.0]</a></li>
					</ul></li>
				<li><div class="link" id="17">
						第十七章 宽恕与神圣关系 [340.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="1701"><a>第一节 将幻相带入真相 [340.0]</a></li>
						<li id="1702"><a>第二节 被宽恕的世界 [342.0]</a></li>
						<li id="1703"><a>第三节 过去的阴魂 [344.0]</a></li>
						<li id="1704"><a>第四节 两种画面 [347.0]</a></li>
						<li id="1705"><a>第五节 疗愈的关系 [351.0]</a></li>
						<li id="1706"><a>第六节 设定目标 [354.0]</a></li>
						<li id="1707"><a>第七节 信心的必要 [356.0]</a></li>
						<li id="1708"><a>第八节 平安的条件 [359.0]</a></li>
					</ul></li>
				<li><div class="link" id="18">
						第十八章 穿越梦境 [361.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="1801"><a>第一节 取代真相 [361.0]</a></li>
						<li id="1802"><a>第二节 梦境的基础 [364.0]</a></li>
						<li id="1803"><a>第三节 梦里的光明 [367.0]</a></li>
						<li id="1804"><a>第四节 小小的愿心 [369.0]</a></li>
						<li id="1805"><a>第五节 幸福美梦 [371.0]</a></li>
						<li id="1806"><a>第六节 超越身体 [373.0]</a></li>
						<li id="1807"><a>第七节 我什么都不需要做 [376.0]</a></li>
						<li id="1808"><a>第八节 小小的花园 [378.0]</a></li>
						<li id="1809"><a>第九节 两个世界 [381.0]</a></li>
					</ul></li>
				<li><div class="link" id="19">
						第十九章 平安之境 [384.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="1901"><a>第一节 疗愈与信心 [384.0]</a></li>
						<li id="1902"><a>第二节 罪恶与错误之别 [388.0]</a></li>
						<li id="1903"><a>第三节 罪的不真实性 [390.0]</a></li>
						<li><div id="1904" class="link">
								第四节 平安的障碍 [393.0] <i class="fa fa-chevron-down"></i>
							</div>
							<ul class="submenu">
								<li><div id="190401" class="link">
										一、第一个障碍：驱逐平安的欲望 [394.0] <i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu">
										<li id="19040101"><a>罪咎的魅力 [396.0]</a></li>
									</ul></li>
								<li><div id="190402" class="link">
										二、第二个障碍：相信身体有其贡献与价值 [397.0] <i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu">
										<li id="19040201"><a>痛苦的魅力 [398.0]</a></li>
									</ul></li>
								<li><div id="190403" class="link">
										三、第三个障碍：死亡的魅力 [400.0] <i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu">
										<li id="19040301"><a>不朽的身体 [402.0]</a></li>
									</ul></li>
								<li><div id="190404" class="link">
										四、第四个障碍：对上主的恐惧 [403.0] <i class="fa fa-chevron-down"></i>
									</div>
									<ul class="submenu">
										<li id="19040401"><a>揭开面纱 [405.0]</a></li>
									</ul></li>
							</ul></li>
					</ul></li>
				<li><div class="link" id="20">
						第二十章 神圣本质之慧见 [408.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="2001"><a>第一节 圣周 [408.0]</a></li>
						<li id="2002"><a>第二节 百合花之礼 [409.0]</a></li>
						<li id="2003"><a>第三节 罪的调整作用 [412.0]</a></li>
						<li id="2004"><a>第四节 进入诺亚方舟 [415.0]</a></li>
						<li id="2005"><a>第五节 永恒境界的先驱 [417.0]</a></li>
						<li id="2006"><a>第六节 圣灵之殿 [419.0]</a></li>
						<li id="2007"><a>第七节 方法与目的之一致性 [422.0]</a></li>
						<li id="2008"><a>第八节 着眼于无罪本质之慧见 [424.0]</a></li>
					</ul></li>
				<li><div class="link" id="21">
						第二十一章 理性与知见 [427.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="2100"><a>第0节 导言 [427.0]</a></li>
						<li id="2101"><a>第一节 遗忘的歌曲 [428.0]</a></li>
						<li id="2102"><a>第二节 为自己所见负责 [430.0]</a></li>
						<li id="2103"><a>第三节 信心、信念与慧见 [433.0]</a></li>
						<li id="2104"><a>第四节 不敢往内看 [436.0]</a></li>
						<li id="2105"><a>第五节 理性的功能 [438.0]</a></li>
						<li id="2106"><a>第六节 理性与疯狂之别 [441.0]</a></li>
						<li id="2107"><a>第七节 最后一道未获答复的问题 [444.0]</a></li>
						<li id="2108"><a>第八节 内在的转变 [447.0]</a></li>
					</ul></li>
				<li><div class="link" id="22">
						第二十二章 救恩与神圣关系 [449.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="2200"><a>第0节 导言 [449.0]</a></li>
						<li id="2201"><a>第一节 神圣关系的信息 [450.0]</a></li>
						<li id="2202"><a>第二节 弟兄的无罪本质 [453.0]</a></li>
						<li id="2203"><a>第三节 理性与形形色色的错误 [456.0]</a></li>
						<li id="2204"><a>第四节 交叉路口 [458.0]</a></li>
						<li id="2205"><a>第五节 脆弱无能与防卫措施 [460.0]</a></li>
						<li id="2206"><a>第六节 神圣关系的光明 [462.0]</a></li>
					</ul></li>
				<li><div class="link" id="23">
						第二十三章 与己为敌 [466.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="2301"><a>第0节 导言 [466.0]</a></li>
						<li id="2302"><a>第一节 互不相容的信念 [468.0]</a></li>
						<li id="2303"><a>第二节 无明乱世的法则 [471.0]</a></li>
						<li id="2304"><a>第三节 毫不妥协的救恩 [476.0]</a></li>
						<li id="2305"><a>第四节 超越战场之上 [478.0]</a></li>
					</ul></li>
				<li><div class="link" id="24">
						第二十四章 特殊性的目标 [480.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="2400"><a>第0节 导言 [480.0]</a></li>
						<li id="2401"><a>第一节 “特殊性”--爱的替代品 [481.0]</a></li>
						<li id="2402"><a>第二节 不可信任的特殊性 [483.0]</a></li>
						<li id="2403"><a>第三节 宽恕的特殊性 [486.0]</a></li>
						<li id="2404"><a>第四节 特殊性与无罪性的不同 [488.0]</a></li>
						<li id="2405"><a>第五节 在你内的基督 [490.0]</a></li>
						<li id="2406"><a>第六节 由恐惧中解脱 [492.0]</a></li>
						<li id="2407"><a>第七节 相会之处 [495.0]</a></li>
					</ul></li>
				<li><div class="link" id="25">
						第二十五章 上主的正义 [498.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="2500"><a>第0节 导 言 [498.0]</a></li>
						<li id="2501"><a>第一节 与真理联结 [499.0]</a></li>
						<li id="2502"><a>第二节 由黑暗中解脱的救主 [501.0]</a></li>
						<li id="2503"><a>第三节 知见与抉择 [504.0]</a></li>
						<li id="2504"><a>第四节 你是荷光者 [506.0]</a></li>
						<li id="2505"><a>第五节 无罪之境 [508.0]</a></li>
						<li id="2506"><a>第六节 特殊的任务 [510.0]</a></li>
						<li id="2507"><a>第七节 救恩的磐石 [512.0]</a></li>
						<li id="2508"><a>第八节 正义回归于爱 [515.0]</a></li>
						<li id="2509"><a>第九节 天堂的正义 [518.0]</a></li>
					</ul></li>
				<li><div class="link" id="26">
						第二十六章 过渡阶段 [521.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="2601"><a>第一节 “牺牲”一体性 [521.0]</a></li>
						<li id="2602"><a>第二节 多种形式，一种修正 [523.0]</a></li>
						<li id="2603"><a>第三节 边缘地带 [525.0]</a></li>
						<li id="2604"><a>第四节 罪离去之后 [527.0]</a></li>
						<li id="2605"><a>第五节 小小的障碍 [529.0]</a></li>
						<li id="2606"><a>第六节 天赐的道友 [532.0]</a></li>
						<li id="2707"><a>第七节 疗愈的法则 [533.0]</a></li>
						<li id="2808"><a>第八节 近在眼前的救恩 [537.0]</a></li>
						<li id="2909"><a>第九节 祂们已经来临 [539.0]</a></li>
						<li id="2910"><a>第十节 结束不义之境 [541.0]</a></li>
					</ul></li>
				<li><div class="link" id="27">
						第二十七章 疗愈的梦境 [543.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="2701"><a>第一节 十字架的画像 [543.0]</a></li>
						<li id="2702"><a>第二节 害怕疗愈 [546.0]</a></li>
						<li id="2703"><a>第三节 超越象征之上 [550.0]</a></li>
						<li id="2704"><a>第四节 宁静的答案 [552.0]</a></li>
						<li id="2705"><a>第五节 疗愈的楷模 [554.0]</a></li>
						<li id="2706"><a>第六节 罪的见证 [557.0]</a></li>
						<li id="2707"><a>第七节 做梦之人 [559.0]</a></li>
						<li id="2708"><a>第八节 梦中“英雄” [562.0]</a></li>
					</ul></li>
				<li><div class="link" id="28">
						第二十八章 化解恐惧 [565.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="2801"><a>第一节 当下的记忆 [565.0]</a></li>
						<li id="2802"><a>第二节 颠倒因果 [568.0]</a></li>
						<li id="2803"><a>第三节 合一的协议 [571.0]</a></li>
						<li id="2804"><a>第四节 更伟大的结合 [573.0]</a></li>
						<li id="2805"><a>第五节 恐惧梦境之外的另一选项 [575.0]</a></li>
						<li id="2806"><a>第六节 秘密的誓约 [577.0]</a></li>
						<li id="2807"><a>第七节 安全的方舟 [579.0]</a></li>
					</ul></li>
				<li><div class="link" id="29">
						第二十九章 觉醒 [581.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="2901"><a>第一节 弥合间隙 [581.0]</a></li>
						<li id="2902"><a>第二节 贵宾莅临 [583.0]</a></li>
						<li id="2903"><a>第三节 上主的见证 [586.0]</a></li>
						<li id="2904"><a>第四节 梦中的角色 [588.0]</a></li>
						<li id="2905"><a>第五节 千古不易的安居之所 [590.0]</a></li>
						<li id="2906"><a>第六节 宽恕与时间的终结 [592.0]</a></li>
						<li id="2907"><a>第七节 不待外求 [594.0]</a></li>
						<li id="2908"><a>第八节 “反基督” [596.0]</a></li>
						<li id="2909"><a>第九节 宽恕之梦 [598.0]</a></li>
					</ul></li>
				<li><div class="link" id="30">
						第三十章 新的开始 [601.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="3000"><a>第0节 导言 [601.0]</a></li>
						<li id="3001"><a>第一节 做决定的准则 [602.0]</a></li>
						<li id="3002"><a>第二节 自由意志 [605.0]</a></li>
						<li id="3003"><a>第三节 超越偶像 [606.0]</a></li>
						<li id="3004"><a>第四节 幻想背后的真相 [608.0]</a></li>
						<li id="3005"><a>第五节 唯一的目的 [610.0]</a></li>
						<li id="3006"><a>第六节 宽恕的道理 [612.0]</a></li>
						<li id="3007"><a>第七节 新的诠释 [614.0]</a></li>
						<li id="3008"><a>第八节 永恒不易的真相 [616.0]</a></li>
					</ul></li>
				<li><div class="link" id="31">
						第三十一章 最终的慧见 [618.0]<i class="fa fa-chevron-down"></i>
					</div>
					<ul class="submenu">
						<li id="3101"><a>第一节 救恩的单纯性 [618.0]</a></li>
						<li id="3102"><a>第二节 与基督同行 [621.0]</a></li>
						<li id="3103"><a>第三节 自我谴责 [624.0]</a></li>
						<li id="3104"><a>第四节 真正的选项 [626.0]</a></li>
						<li id="3105"><a>第五节 自我概念与自性之别 [629.0]</a></li>
						<li id="3106"><a>第六节 认识灵性 [633.0]</a></li>
						<li id="3107"><a>第七节 人间救主之慧见 [635.0]</a></li>
						<li id="3108"><a>第八节 重新选择 [639.0]</a></li>
					</ul>
		</div>

	</div>
	<!-- end miracle-context-catalog -->

	<div class="miracle-context-chapter">
		<div class="miracle-context-chapter-title">序言 perface</div>
		<div class="miracle-context-chapter-context">
			<P>此序成文于公元一九七七年，是海伦?舒曼应多方人士要求而写的《奇迹课程》简介。最前面的两部分，有关本书之“缘起”及“性质”，
				乃是出自海伦的个人手笔；至于本书的“内容”，则是经由她“秘传”（inner
				dictation）而记录下的资料，其过程会在此序中略作交代。
			<p>此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
				此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
				此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
				此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
				此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
				此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
				此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
				此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
				此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介
		</div>


		<div class="miracle-context-chapter-pages"></div>
	</div>
	<!-- miracle-context-chapter  -->


	<script type="text/javascript" src="../pub_js/jsloader.js"></script>
	<!--   <script type="text/javascript" src="../js/custom.js"></script> -->
	<script type="text/javascript" src="../pub_js/common.js"></script>
	<script type="text/javascript" src="js/acim.js"></script>

	<script type="text/javascript" src="js/leftnav.js"></script>



</body>
</html>
