        <div  class="miracle-context-catalog">       
        
         <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  
                         序言--[p3]
                    
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body miracle-context-catalog-detail" id="miracle-context-catalog-detail">
                      <ul>
                         <li>
                             <a>本书的起源 </a>
                         </li>
                         <li>
                            <a> 本书的性质 </a>
                         </li>
                         <li>
                            <a> 本书的内容</a>
                      </ul>
                  
                  
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo">
                    Collapsible Group Item #2
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">
                    Collapsible Group Item #3
                  </a>
                </h4>
              </div>
              
            </div> <!--  abcccc -->
        
        </div>
        
        </div> <!-- end miracle-context-catalog -->
        
        <div  class="miracle-context-chapter">
              <div class="miracle-context-chapter-title">
                   序言  perface
              </div>
              <div class="miracle-context-chapter-context">
                 <P>
                  此序成文于公元一九七七年，是海伦?舒曼应多方人士要求而写的《奇迹课程》简介。最前面的两部分，有关本书之“缘起”及“性质”，
                  乃是出自海伦的个人手笔；至于本书的“内容”，则是经由她“秘传”（inner dictation）而记录下的资料，其过程会在此序中略作交代。　　                 
                 <p>
                    此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。 此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
                    此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
                    此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
                    此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
                    此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
                    此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
                    此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介。
                    此序成文与公元一九七七年，是海伦，舒曼应多方人士要求而写的《奇迹课程》简介 
                  
              </div>
              
              <div class="miracle-context-chapter-pages">
              </div>
        </div>  
 
   